body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menudiv{
  margin-bottom: 20px;
    margin-top: 20px;
}
/* a {
  background-color: #217346 !important;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
} */
.button {
  display: block;
  width: 115px;
  background: #217346;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  }